<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bartosz Nowak">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> <!--  TODO add favicon -->

    <title>DKJ-Tracker</title>

    <!-- Bootstrap core CSS -->
    <!-- Original bootstrap
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
     -->
    <!-- Bootswatch cyborg theme -->
    <link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">

    <!--  theme Jasny Bootstrap -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.0/css/jasny-bootstrap.min.css">

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link href="/static/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">DKJ</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zwroty<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'returns:list' %}">Lista Zwrotów</a></li>
                <li><a href="{% url 'returns:create' %}">Dodaj Zwrot</a></li>
                <!--
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
                -->
              </ul>
            </li>
            <li><a href="#about">O stronie</a></li>
            <li><a href="#contact">Kontakt</a></li>
            <li class="dropdown">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      <div class="container navbar-inverted">
        <p class="text-muted">Made by Bartosz Nowak using Python, Django, PostgreSQL, Bootstrap, Bootswatch and Jasny-Bootrstap and oc course <a href="http://glyphicons.com/">Glyphicons</a> .</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.0/js/jasny-bootstrap.min.js"></script>
  </body>
</html>
