{% extends 'base.html' %}

{% block content %}

  <div class="page-header">
    <p class="h1">
      <small>Zwrot nr</small> {{ return.pk }}
      <small>nr dokumentu</small> {{ return.return_number }}
    </p>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Stworzył</dt>
        <dd class="clearfix text-primary">{{ return.user }}</dd>
        <dt>Przewoźnik</dt>
        <dd class="clearfix text-primary">{{ return.carrier }}</dd>
        <dt>Kierowca</dt>
        <dd class="clearfix text-primary">{{ return.driver_name }}</dd>
        <dt>Data zarejestrowania</dt>
        <dd class="clearfix text-primary">{{ return.start_date }}</dd>
        <dt>Zakończony</dt>
        <dd class="clearfix text-primary">{% if return.completed %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}</dd>
        <dt>Komentarz</dt>
        <dd class="clearfix text-primary">{% if return.comment %}{{ return.comment }}{% endif %}</dd>
        <dt>Rejestracja</dt>
        <dd class="clearfix text-primary">{% if return.car_plates %}{{ return.car_plates }}{% endif %}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-body">
      <a href="{% url 'returns:waybill_create' return.pk %}" class="btn btn-primary btn-sm" role="button">Dodaj List przewozowy</a>
      <a href="{% url 'returns:csv' return.pk %}" class="btn btn-primary btn-sm pull-right" role="button">Eksport do CSV</a>
    </div>
  </div>

  {% for waybill in waybills %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ waybill.number }}
        <a href="{% url 'returns:document_create' return.pk waybill.pk %}" class="btn btn-primary btn-xs" role="button">Dodaj dokument</a>
      </h3>
    </div>
    <div class="panel-body">
      {% for document in waybill.documents %}
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ document.number }}
            <a href="{% url 'returns:commodity_add' return.pk waybill.pk document.pk %}" class="btn btn-success btn-xs" role="button">Dodaj Towar</a>
          </h3>
        </div>
        <div class="panel-body">
          {% for commodity in document.commodities %}
            <p class="text-success"><span class="text-primary">{{ commodity.amount }}</span> {{ commodity }}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

{% endblock %}
