{% extends "scanner_base.html" %}

{% block content %}
  <div class="container">
    <form action="" method="post">
    {% csrf_token %}
      <fieldset>
        <legend>Dodaj Towar po EAN'ie</legend>
        {% for error in form.ean.errors %}
        <strong>{{ error }}</strong>
        {% endfor %}
        <label for="{{ form.ean.id_for_label }}">{{ form.ean.label }}</label>
        <input type="text" maxlength="{{ form.ean.field.max_length }}" id="{{ form.ean.id_for_label }}" name="{{ form.ean.html_name }}" placeholder="{{ form.ean.field.help_text }}" {% if form.ean.value %}value="{{ form.ean.value }}"{% endif %}>
        <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
        <input type="text" maxlength="{{ form.amount.field.max_length }}" id="{{ form.amount.id_for_label }}" name="{{ form.amount.html_name }}" placeholder="{{ form.amount.field.help_text }}" {% if form.amount.value %}value="{{ form.amount.value }}"{% endif %}>
        <button type="submit">Dodaj</button>
      </fieldset>
    </form>
  </div>
{% endblock %}


