{% extends 'scanner_base.html' %}

{% block content %}
  <div class="container">
    <strong>Zwrot nr {{ return.pk }}</strong><br />
    <span>Z dnia:<br />{{ return.start_date }}</span><br />
    <strong>LP nr {{ waybill.number }}</strong><br />
    <strong>Dokument {{ document.number }}</strong><br />
    <input type="button" value="DODAJ&#13;&#10;TOWAR" onClick="window.location.href='{% url 'Returns:SReturns:commodity_add' return.pk waybill.pk document.pk %}'"><br/>

    {% for commodity in commodities %}
      <span>{{ commodity.amount }} <- {{ commodity }}</span><br/>
    {% endfor %}
  </div>
  <div class="container footer">
    <input type="button" value="POWRÓT&#13;&#10;DO LISTU" onClick="window.location.href='{% url 'Returns:SReturns:waybill' return.pk waybill.pk %}'"><br/>
    <input type="button" value="POWRÓT&#13;&#10;DO ZWROTU" onClick="window.location.href='{% url 'Returns:SReturns:return' return.pk %}'">
  </div>

{% endblock %}
