{% extends "scanner_base.html" %}

{% block content %}
  <div class="container">
    <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
      <fieldset>
        <legend>Dokument</legend>
        <p>Podaj dokument:</p>
        {% for error in form.carrier.errors %}
          <p><strong>{{ error }}</strong></p>
        {% endfor %}
        <select id="{{ form.kind.id_for_label }}" name="{{ form.kind.html_name }}"><br/>
          {% for id, name in form.kind.field.choices %}
            <option value="{{ id }}">{{ name }}</option>
          {% endfor %}
        </select><br/>
        <input type="text" maxlength="{{ form.discriminant.field.max_length }}" id="{{ form.discriminant.id_for_label }}" name="{{ form.discriminant.html_name }}" {% if form.discriminant.value %}value="{{ form.discriminant.value }}"{% endif %}>
        <input type="text" maxlength="{{ form.number.field.max_length }}" id="{{ form.number.id_for_label }}" name="{{ form.number.html_name }}" placeholder="{{ form.number.field.help_text }}" {% if form.number.value %}value="{{ form.number.value }}"{% endif %}>
        <input type="text" maxlength="{{ form.year.field.max_length }}" id="{{ form.year.id_for_label }}" name="{{ form.year.html_name }}" placeholder="{{ form.year.field.help_text }}" {% if form.year.value %}value="{{ form.year.value }}"{% endif %}>
{#        <label for="{{ form.number.id_for_label }}">{{ form.number.label }}</label><br/>#}
{#        <input type="text" maxlength="{{ form.number.field.max_length }}" id="{{ form.number.id_for_label }}" name="{{ form.number.html_name }}" placeholder="{{ form.number.field.help_text }}" {% if form.number.value %}value="{{ form.number.value }}"{% endif %}><br/>#}
        <button type="submit">Dodaj</button>
      </fieldset>
    </form>
  </div>
{% endblock %}


