{% extends 'scanner_base.html' %}

{% block content %}
  <div class="container">
    <div class="">
      <strong>Zwrot nr {{ return.pk }}</strong><br />
      <span>Z dnia:<br />{{ return.start_date }}</span><br />
      <input type="button" value="DODAJ&#13;&#10;LIST" onClick="window.location.href='{% url 'Returns:SReturns:detail' return.pk %}'">
    </div>

    {% for waybill in waybills %}
      <input type="button" value="{{ waybill }}" onClick="window.location.href='{% url 'Returns:SReturns:detail' return.pk %}'">
      <a href="{% url 'Returns:document_create' return.pk waybill.pk %}" class="btn btn-primary btn-xs" role="button">{{ waybill.number }}</a>
    {% endfor %}
  </div>

{% endblock %}
