{% extends "scanner_base.html" %}

{% block content %}
  <div class="container">
    <form action="" method="post">
    {% csrf_token %}
      <fieldset>
        <legend><strong>Dodaj Zwrot</strong></legend>
        {% if form.carrier.errors %}
          <span><strong>Musisz wybrać rodzaj</strong></span><br/>
        {% endif %}
        <label for="{{ form.carrier.id_for_label }}">{{ form.carrier.label }}</label><br/>
        <select id="{{ form.carrier.id_for_label }}" name="{{ form.carrier.html_name }}"><br/>
          {% for id, name in form.carrier.field.choices %}
            <option value="{{ id }}">{{ name }}</option>
          {% endfor %}
        </select><br/>
        <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label><br/>
        <input type="text" maxlength="{{ form.comment.field.max_length }}" id="{{ form.comment.id_for_label }}" name="{{ form.comment.html_name }}" {% if form.comment.value %}value="{{ form.comment.value }}"{% endif %}><br/>
        {% for error in  form.driver_name.errors %}<strong>{{ error }}</strong><br/>{% endfor %}
        <label for="{{ form.driver_name.id_for_label }}">{{ form.driver_name.label }}</label><br/>
        <input type="text" maxlength="{{ form.driver_name.field.max_length }}" id="{{ form.driver_name.id_for_label }}" name="{{ form.driver_name.html_name }}" {% if form.driver_name.value %}value="{{ form.driver_name.value }}"{% endif %}><br/>
        <label for="{{ form.car_plates.id_for_label }}">{{ form.car_plates.label }}</label><br/>
        <input type="text" maxlength="{{ form.car_plates.field.max_length }}" id="{{ form.car_plates.id_for_label }}" name="{{ form.car_plates.html_name }}" {% if form.car_plates.value %}value="{{ form.car_plates.value }}"{% endif %}/><br/>
        <button type="submit">Dodaj</button>
      </fieldset>
    </form>
  </div>
{% endblock %}


